
.btn-back{
    position: relative;
    margin-left: 50px;
}

.btn-delete-image{
    border: none;
    background-color: white;
    margin-left: 15px;
    color: red;
}

.btn-edit{
    position: relative;
    margin-left: 890px;
}

.card-primary{
    position: relative;
    max-width: 1280px;
    height: 550px;
    border: none;
}

.card-image{
    width: 350px;
    height: 350px;
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
}

.card-details{
    width: 780px;
    height: 460px;
    margin: auto;
    position:absolute;
    margin-left: 450px;
    margin-top: 35px;
    border: none;
}

.card-header{
    text-align: center;
    color: #30871a;;
    font-size: 50px;
    background-color: transparent;
    border: none;
}

.card-description{
    width: 750px;
    height: 200px;
    position: relative;
}

.card-price{
    width: 150px;
    height: 100px;
    position: absolute;
}

.card-stock{
    width: 150px;
    height: 100px;
    position: absolute;
    margin-left: 180px; 
}

.card-gtin{
    width: 390px;
    height: 100px;
    position: absolute;
    margin-left: 360px;
}

.card .details-content{
    text-align: center;
    font-size: 30px;
}

.card .section{
    background-color:#c6f6b8;
    border: none;
}

.card .sub-description{
    margin-left: 25px;
}

p{
    font-size: 18px;
}

.card .subtitle{
    color: #30871a;
    margin-top: 12px;
}

.upload-image{
    cursor: pointer;
}

.edit-product-image{
    margin:auto;
    margin-top: 5px;
    font-size: 16px;
    color: #30871a;
}

.edit-product-images{
    margin:auto;
    margin-top: 15px;
    margin-left: 160px;
    font-size: 16px;
    color: #30871a;
}

/* Cambia el color de los íconos del carrusel a rojo */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #d4fbc8; /* Cambia el fondo a rojo */
    border: 1px solid #d4fbc8; /* Cambia el borde a rojo */
    color: white; /* Cambia el color del ícono a blanco (si es necesario) */
  }

/* Cambia el color del ícono del carrusel a rojo cuando se pasa el mouse por encima */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: #b6f3a3; /* Cambia el fondo a un tono más oscuro de rojo al pasar el mouse por encima */
  border: 1px solid #b6f3a3; /* Cambia el borde a un tono más oscuro de rojo al pasar el mouse por encima */
  color: white; /* Cambia el color del ícono a blanco (si es necesario) */
}


