<!-- Navbar -->
<nav class="navbar navbar-expand-lg" data-bs-theme="light">

    <div class="navbar-content container-fluid">
    <a class="navbar-brand" href="#" style="color: white; font-size:30px; font-family:Impact;">Lucky Aide
      <i class="fa-solid fa-clover"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        </ul>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn my-2 my-sm-0" type="submit"><i class="ph ph-magnifying-glass search-menu" style="color: white;"></i></button>
        </form>
    </div>
    </div>
</nav>

<div class="body-content">

    <button type="button" class="btn btn-back" (click)="redirect(['product'])">
        <i class="ph ph-arrow-circle-left icon-text-button"></i>
        Regresar
    </button>
    
    <button type="button" class="btn btn-edit" (click)="updateProduct()">
        <i class="ph ph-pencil-circle icon-text-button"></i>
        Editar producto
    </button>

    <div class="card card-primary">
        
        <div class="card card-image">  
            <div class="card-body-customer text-center">
                <img [src]="productImage.image" alt="..." class="img-thumbnail product-image">
            </div> 
            <div class="edit-product-image text-center">
                <label for="uploadImage" class="upload-image">
                <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                <i class="ph ph-pencil-circle icon-text-ul" style="font-size: 20px;"></i>
                Añadir imagen
                </label>
            </div>
        </div>

        <div class="card card-details">
            
            <div class="card-header">{{ product.product }}</div>

            <div class="card-body">
                <div class="card card-description section">
                    <h4 class="subtitle sub-description"> DESCRIPCION:</h4>
                    <p class="sub-description">{{ product.description }}</p>
                </div>
                <br>

                <div class="card card-price details-content section">
                    <h5 class="subtitle">PRECIO</h5>
                    ${{ product.price }}
                </div>

                <div class="card card-stock details-content section">
                    <h5 class="subtitle">STOCK</h5>
                    {{ product.stock }}
                </div>

                <div class="card card-gtin details-content section">
                    <h5 class="subtitle">GTIN</h5>
                    {{ product.gtin }}
                </div>

            </div>

        </div>

    </div>

    <!-- <div class="card-header">
        <div class="row">
        <div class="col-md">
            <span class="btn-return" (click)="redirect(['product'])">
            <i class="ph ph-arrow-circle-left icon-text-button"></i>
            Regresar
            </span>
        </div>
    
        <div class="col-md">
            <span class="edit-product" (click)="updateProduct()">
            <i class="ph ph-pencil-circle icon-text-ul"></i>
            Editar producto
            </span>
        </div>
        </div>
    </div>
    <br> -->

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Nuevo producto</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
              </button>
            </div>

        <div class="modal-body">

        <!-- form  -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          
          <div class="row">

              <!-- gtin  -->

              <div class="col-md-6">
                  <div class="form-group">
                      <label for="gtin">GTIN <span class="text-danger">*</span> </label>
                      <input type="text" class="form-control form-edit" formControlName="gtin" id="gtin" placeholder="Código GTIN del producto..." 
                          [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}" >
                      <div *ngIf="form.controls['gtin'].errors && submitted">
                          <small class="text-danger">Por favor, ingrese un GTIN válido</small>
                      </div>
                  </div>
              </div>

              <!-- product  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="product">Producto <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="product" id="product" placeholder="Nombre del producto..." 
                      [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}" >
                  <div *ngIf="form.controls['product'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese un nombre de producto válido</small>
                  </div>
                  </div>
              </div>
              
              <br><br><br>
  
              <!-- price  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="price">Precio <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="price" id="price" placeholder="Precio del producto..." 
                      [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}" >
                  <div *ngIf="form.controls['price'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese un precio válido</small>
                  </div>
                  </div>
              </div>
              
              <br>

              <!-- stock  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="stock">Cantidad de productos <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="stock" id="stock" placeholder="Número de stock del producto..." 
                      [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}" >
                  <div *ngIf="form.controls['stock'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese una cantidad de productos válida</small>
                  </div>
                  </div>
              </div>  
              
              <br><br><br>

              <!-- category_id  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="category_id">Categoría <span class="text-danger">*</span> </label>
                    <select class="form-select form-edit" formControlName="category_id" id="category_id"
                        [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                        <option [ngValue]=null hidden>Seleccione una categoría</option>
                        <ng-container *ngFor="let category of categories" >
                            <option *ngIf="category.status == 1" [ngValue]="category.category_id">{{ category.category }}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="form.controls['category_id'].errors && submitted">
                        <small class="text-danger">Por favor, seleccione una categoría</small>
                    </div>
                  </div>
              </div>
              
              <br><br><br>

              <!-- description  -->
    
              <div class="form-group">
                <label for="description">Descripción <span class="text-danger">*</span> </label>
                <textarea rows="2" class="form-control form-edit" formControlName="description" id="description" placeholder="Descripción del producto..." 
                  [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}" >
                </textarea>
                <div *ngIf="form.controls['description'].errors && submitted">
                  <small class="text-danger">Por favor, ingrese una descripción válida</small>
                </div>
              </div>
          </div>
          
          <br>

          <!-- button  -->
          <div class="form-button">
              <button type="submit" class="btn btn-form">Guardar</button>
          </div>

        </form>

      </div>
      
    </div>
  
</div>