
th{
    border: none;
}

td{
    border: none;
}

.btn-delete-image{
    border: none;
    background-color: white;
    margin-left: 15px;
    color: red;
}

.btn.btn-edit{
    float: right;
}

.btn.btn-edit-image{
    float: right;
}

.card-header{
    background-color: transparent !important;
}

.carousel-item{
    border-radius: 5%;
}

.d-block    {
    border-radius: 5%;
}

.card-details{
    width: 780px;
    height: 460px;
    margin: auto;
    position:absolute;
    margin-left: 450px;
    margin-top: 35px;
    border: none;
}

.product-price{
    font-size: 30px;
}

.product-title{
    text-align: center;
    color: #30871a;;
    font-size: 55px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    background-color: transparent;
    border: none;
    margin-bottom: 15px;
}

.card-description{
    width: 750px;
    height: 200px;
    position: relative;
}

.card-price{
    width: 150px;
    height: 100px;
    position: absolute;
}

.card-stock{
    width: 150px;
    height: 100px;
    position: absolute;
    margin-left: 180px; 
}

.card-gtin{
    width: 390px;
    height: 100px;
    position: absolute;
    margin-left: 360px;
}

.card .details-content{
    text-align: center;
    font-size: 30px;
}

.card .section{
    background-color:#c6f6b8;
    border: none;
}

.card .sub-description{
    margin-left: 25px;
}

.card .subtitle{
    color: #30871a;
    margin-top: 12px;
}

.upload-image{
    cursor: pointer;
}

.edit-product-image{
    margin:auto;
    margin-top: 5px;
    font-size: 16px;
    color: #30871a;
}

.edit-product-images{
    font-size: 16px;
    color: #30871a;
}

/* Cambia el color de los íconos del carrusel a rojo */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #d7e0d4; /* Cambia el fondo a rojo */
    border: 1px solid #d7e0d4; /* Cambia el borde a rojo */
    color: white; /* Cambia el color del ícono a blanco (si es necesario) */
  }

/* Cambia el color del ícono del carrusel a rojo cuando se pasa el mouse por encima */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: #b7beb4; /* Cambia el fondo a un tono más oscuro de rojo al pasar el mouse por encima */
  border: 1px solid #b7beb4; /* Cambia el borde a un tono más oscuro de rojo al pasar el mouse por encima */
  color: white; /* Cambia el color del ícono a blanco (si es necesario) */
}

.description{
    font-size: x-large;
    text-align: start;
}

.gtin{
    font-size: 16px;
    text-align: start;
}

.envio{
    font-size: 16px;
    text-align: end;
}

.buy-btn{
    width: 100%;
    margin-bottom: 5px;
}

.price{
    color: #30871a;
    font-size: 40px;
    font-weight: 700;
}

.row-md.quantity{
    text-align: start;
}

.quantity-btns{
    display: flex;
    text-align: start;
}

.quantity-btn{
    text-align: center;
    font-size: 100%;
    width: 2.5em;
    height: 2.5em;
    margin: 0 1px;
}

.quantity-input{
    background-color: #43a02c;
    border-radius: 5px;
    border: none;
    color: white;
}

.quantity-input:focus{
    outline: none;
}

.stock{
    color: red;
    text-align: center;
}




