<!-- Navbar -->
<nav class="navbar navbar-expand-md" data-bs-theme="light">

    <div class="navbar-content container-fluid">
    <a class="navbar-brand" href="#" style="color: white; font-size:30px; font-family:Impact;">Lucky Aide
      <i class="fa-solid fa-clover"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        </ul>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn my-2 my-sm-0" type="submit"><i class="ph ph-magnifying-glass search-menu" style="color: white;"></i></button>
        </form>
    </div>
    </div>
</nav>

<div class="container-fluid body-content">


<div class="card-header">
    <div class="row">
        <div class="col-md-8">
            <span class="btn btn-back" (click)="redirect(['product'])">
                <i class="ph ph-arrow-circle-left icon-text-button"></i>
                Regresar
            </span>
        </div>
        
        <div class="col-md">
            <span class="btn btn-edit" (click)="updateProduct()">
                <i class="ph ph-note-pencil icon-text-button"></i>
                Editar producto
            </span>
        </div>

        <div class="col-md">
        <div class="btn text-center">
            <label for="uploadImage" class="upload-image">
                <input type="file" (change)="fileChangeHandler($event)" id="uploadImage" style="display:none">
                <i class="ph ph-file-image icon-text"></i>
                Añadir imagen
            </label>
        </div>
        </div>
    </div>
</div>

<br>

<div class="card-body">
    <div class="row principal">

        <!-- customer image  -->
        <div class="col-md-5">
            <div class="card card-image">
                <div class="">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
                        <div class="carousel-inner">
                            <ng-container *ngIf="productImages.length > 0; else defaultImage">
                                <div class="carousel-item" *ngFor="let productImage of productImages; let i = index" [class.active]="i === 0">
                                    <img [src]="productImage.image" class="d-block w-100" alt="Image {{i + 1}}">
                                    <div class="delete-product-image text-center">
                                        <button type="button" class="btn-delete-image" (click)="deleteImage(productImage.product_image_id)">
                                            <i class="ph ph-trash icon-text"style="font-size: 18px;"></i>
                                            Eliminar imagen
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <ng-template #defaultImage>
            <div class="carousel-item active">
                <img src="assets/imagenes/productImageNull.jpg" class="d-block w-100" alt="Imagen Predeterminada">
            </div>
        </ng-template>
    

        <!-- customer data  -->
        <div class="col-md-7">
            <div class="card card-body-product">
                    <table class="table">
                        <thead class="product-title">
                            <th class="">{{ product.product }}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <div class = "row-md">
                                    <h5 class="description">{{ product.description }}</h5>
                                </div>
                            </tr>

                            <tr>
                                <div class = "row-md">
                                    <td class="col-md gtin">Código de Producto: {{ product.gtin }}</td>
                                </div>
                            </tr>

                            <tr>
                                <div class = "row-md">
                                    <td class="col-md envio"><i class="ph ph-truck"></i> Envío gratis a todo el país</td> 
                                </div>
                            </tr>

                            <tr>
                                <div class = "row-md">
                                    <td class="col-md price">${{ product.price }}</td>  
                                </div>
                            </tr>

                            <tr>
                                <div class = "row-md quantity">Cantidad
                                    <td class="col-md quantity-btns">
                                        <button class="btn quantity-btn" (click)="decreaseQuantity()">-</button>
                                        <input class="quantity-btn quantity-input" id="quantity-display" type="text" [(ngModel)]="quantity" />
                                        <button class="btn quantity-btn" (click)="increaseQuantity()">+</button>
                                    </td> 
                                </div>
                            </tr>
                            <tr>
                                <td class="col-md buy-btns">
                                    <button class="btn buy-btn"><i class="ph ph-wallet"></i> Comprar ahora</button>
                                    <button class="btn buy-btn"><i class="ph ph-shopping-cart"></i> Agregar al carrito</button>
                                </td>   
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    
    </div>
</div>

</div>

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">Nuevo producto</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
              </button>
            </div>

        <div class="modal-body">

        <!-- form  -->
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          
          <div class="row">

              <!-- gtin  -->

              <div class="col-md-6">
                  <div class="form-group">
                      <label for="gtin">GTIN <span class="text-danger">*</span> </label>
                      <input type="text" class="form-control form-edit" formControlName="gtin" id="gtin" placeholder="Código GTIN del producto..." 
                          [ngClass]="{'is-invalid': form.controls['gtin'].errors && submitted}" >
                      <div *ngIf="form.controls['gtin'].errors && submitted">
                          <small class="text-danger">Por favor, ingrese un GTIN válido</small>
                      </div>
                  </div>
              </div>

              <!-- product  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="product">Producto <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="product" id="product" placeholder="Nombre del producto..." 
                      [ngClass]="{'is-invalid': form.controls['product'].errors && submitted}" >
                  <div *ngIf="form.controls['product'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese un nombre de producto válido</small>
                  </div>
                  </div>
              </div>
              
              <br><br><br>
  
              <!-- price  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="price">Precio <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="price" id="price" placeholder="Precio del producto..." 
                      [ngClass]="{'is-invalid': form.controls['price'].errors && submitted}" >
                  <div *ngIf="form.controls['price'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese un precio válido</small>
                  </div>
                  </div>
              </div>
              
              <br>

              <!-- stock  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                  <label for="stock">Cantidad de productos <span class="text-danger">*</span> </label>
                  <input type="text" class="form-control form-edit" formControlName="stock" id="stock" placeholder="Número de stock del producto..." 
                      [ngClass]="{'is-invalid': form.controls['stock'].errors && submitted}" >
                  <div *ngIf="form.controls['stock'].errors && submitted">
                      <small class="text-danger">Por favor, ingrese una cantidad de productos válida</small>
                  </div>
                  </div>
              </div>  
              
              <br><br><br>

              <!-- category_id  -->
    
              <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="category_id">Categoría <span class="text-danger">*</span> </label>
                    <select class="form-select form-edit" formControlName="category_id" id="category_id"
                        [ngClass]="{'is-invalid': form.controls['category_id'].errors && submitted}">
                        <option [ngValue]=null hidden>Seleccione una categoría</option>
                        <ng-container *ngFor="let category of categories" >
                            <option *ngIf="category.status == 1" [ngValue]="category.category_id">{{ category.category }}</option>
                        </ng-container>
                    </select>
                    <div *ngIf="form.controls['category_id'].errors && submitted">
                        <small class="text-danger">Por favor, seleccione una categoría</small>
                    </div>
                  </div>
              </div>

              <br><br><br>

              <!-- description  -->
    
              <div class="form-group">
                <label for="description">Descripción <span class="text-danger">*</span> </label>
                <textarea rows="2" class="form-control form-edit" formControlName="description" id="description" placeholder="Descripción del producto..." 
                  [ngClass]="{'is-invalid': form.controls['description'].errors && submitted}" >
                </textarea>
                <div *ngIf="form.controls['description'].errors && submitted">
                  <small class="text-danger">Por favor, ingrese una descripción válida</small>
                </div>
              </div>
          </div>
          
          <br>

          <!-- button  -->
          <div class="form-button">
              <button type="submit" class="btn btn-form">Guardar</button>
          </div>

        </form>

      </div>
      
    </div>
  
</div>