    <!-- Agrega el botón de agregar película -->
    <button type="button" class="btn btn-add" (click)="showModalForm()">
      <i class="ph ph-list-plus icon-text-button"></i>
      Agregar cliente
    </button>

    <br><br>


    <p class="h1-text" style="font-size: 55px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Clientes</p>

    <div class="card">
        <!-- Table content --> 
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>No.</th>
                    <th>Nombre</th>
                    <th>RFC</th>
                    <th>Estatus</th>
                    <th>Más</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr *ngFor="let customer of customers; let i = index" >
                <td>{{ i + 1 }}</td>
                <td>{{ customer.name + " " + customer.surname }}</td>
                <td>{{ customer.rfc }}</td>
                <td>
                  <div class="td-status"
                  [ngClass]="{'td-status-enable': customer.status == 1, 'td-status-disable': customer.status == 0}" >
                    {{ customer.status == 0 ? "Inactivo" : "Activo" }}
                  </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-dropdown btn-dark" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="ph ph-dots-three-circle icon-menu"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item edit-item" (click)="showCustomer(customer.rfc)">
                            <i class="ph ph-circles-three"></i> Ver detalles
                          </a>
                          <a *ngIf="customer.status == 0" class="dropdown-item enable-item" (click)="enableCustomer(customer.customer_id)">
                            <i class="ph ph-check-circle"></i> Activar
                          </a>
                          <a *ngIf="customer.status == 1" class="dropdown-item disable-item" (click)="disableCustomer(customer.customer_id)">
                            <i class="ph ph-x-circle"></i> Desactivar
                          </a>
                        </div>
                      </div>
                    </td>
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
        </div>

      <!-- Modal -->
      <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title">Nuevo cliente</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
                </button>
              </div>
  
        <div class="modal-body">
  
          <!-- form  -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            
            <div class="row">

                <!-- name  -->

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre <span class="text-danger">*</span> </label>
                        <input type="text" class="form-control form-edit" formControlName="name" id="name" placeholder="Nombre del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['name'].errors && submitted}" >
                        <div *ngIf="form.controls['name'].errors && submitted">
                            <small class="text-danger">Favor de ingresar un nombre válido</small>
                        </div>
                    </div>
                </div>
      
                <!-- surname  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="surname">Apellidos <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control form-edit" formControlName="surname" id="surname" placeholder="Apellidos del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['surname'].errors && submitted}" >
                    <div *ngIf="form.controls['surname'].errors && submitted">
                        <small class="text-danger">Favor de ingresar apellidos válidos</small>
                    </div>
                    </div>
                </div>

                <!-- rfc  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="rfc">RFC <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control form-edit" formControlName="rfc" id="rfc" placeholder="RFC del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['rfc'].errors && submitted}" >
                    <div *ngIf="form.controls['rfc'].errors && submitted">
                        <small class="text-danger">Favor de ingresar un rfc válido</small>
                    </div>
                    </div>
                </div>
      
                <!-- mail  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                    <label for="mail">Correo electrónico <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control form-edit" formControlName="mail" id="mail" placeholder="Correo electrónico del cliente..." 
                        [ngClass]="{'is-invalid': form.controls['mail'].errors && submitted}" >
                    <div *ngIf="form.controls['mail'].errors && submitted">
                        <small class="text-danger">Favor de ingresar un correo electrónico válido</small>
                    </div>
                    </div>
                </div>  
      
                <!-- region_id  -->
      
                <div class="col-md-6"> 
                    <div class="form-group">
                      <label for="region_id">Región <span class="text-danger">*</span> </label>
                      <select class="form-select form-edit" formControlName="region_id" id="region_id"
                          [ngClass]="{'is-invalid': form.controls['region_id'].errors && submitted}">
                          <option [ngValue]=null hidden>Selecciona una región...</option>
                          <ng-container *ngFor="let region of regions" >
                              <option *ngIf="region.status == 1" [ngValue]="region.region_id">{{ region.region }}</option>
                          </ng-container>
                      </select>
                      <div *ngIf="form.controls['region_id'].errors && submitted">
                          <small class="text-danger">Favor de seleccionar una región válida</small>
                      </div>
                    </div>
                </div>
      
                <!-- address  -->
      
                <div class="form-group">
                  <label for="address">Dirección <span class="text-danger">*</span> </label>
                  <textarea rows="2" class="form-control form-edit" formControlName="address" id="address" placeholder="Dirección del cliente..." 
                    [ngClass]="{'is-invalid': form.controls['address'].errors && submitted}" >
                  </textarea>
                  <div *ngIf="form.controls['address'].errors && submitted">
                    <small class="text-danger">Favor de ingresar una dirección válida</small>
                  </div>
                </div>
            </div>
            
            <br>

            <!-- button  -->
            <div class="form-button">
                <button type="submit" class="btn btn-form">Guardar</button>
            </div>

          </form>
  
        </div>
        
      </div>
    </div>
  </div>
  