.dropdown-menu{
    background-color: rgb(68, 122, 68);
}

.dropdown-item{
    color: white;
}

.navbar-brand{
    height: 50px;
}

.nav-item{
    margin-right: 20px;
}

.nav-link{
    color: white;
    font-size: 17px;
}
.nav-link.dropdown-toggle{
    color: white;
}

.ph.ph-shopping-cart.i-cart{
    font-size: 25px;
}



