
th{
    background-color: transparent !important;
    color: rgb(55, 128, 55);
    font-size: 27px;
    font-weight: 800;
    text-align: start;
    border: none;
}

h5{
    color: black;
}

.card-body-customer{
    padding: 16px;
}

.card-header{
    background-color: transparent !important;
}

.row.data{
    width: 100%;
}

.customer-image{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.btn.btn-edit{
    float: right;
}

.edit-customer-image{
    color: rgb(55, 128, 55);
    cursor: pointer;
    margin-bottom: 16px;
}

.upload-image{
    cursor: pointer;
}