  <!-- Agrega el botón de agregar película -->
  <button type="button" class="btn btn-add" (click)="showModalForm()">
    <i class="ph ph-list-plus icon-text-button"></i>
    Agregar Categoría
  </button>

  <br><br>


  <h1>Categorías</h1>

  <div class="card">
      
    <!-- Table content --> 
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
              <tr>
                <th>No.</th>
                <th>Código</th>
                <th>Categoría</th>
                <th>Estatus</th>
                <th>Más</th>
              </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let category of categories; let i = index" >
              <td>{{ i + 1 }}</td>
              <td>{{ category.code }}</td>
              <td>{{ category.category }}</td>
              <td>
                <div class="td-status"
                [ngClass]="{'td-status-enable': category.status == 1, 'td-status-disable': category.status == 0}" >
                  {{ category.status == 0 ? "Desactivada" : "Activada" }}
                </div>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-dropdown btn-dark" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ph ph-dots-three-circle icon-menu"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item edit-item" (click)="updateCategory(category)">
                      <i class="ph ph-note-pencil icon-text-ul"></i>Editar
                    </a>
                    <a *ngIf="category.status == 0" class="dropdown-item enable-item" (click)="enableCategory(category.category_id)">
                      <i class="ph ph-check-circle"></i> Activar
                    </a>
                    <a *ngIf="category.status == 1" class="dropdown-item disable-item" (click)="disableCategory(category.category_id)">
                      <i class="ph ph-x-circle"></i> Desactivar
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="modalForm">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ categoryUpdated == 0? "Nueva": "Actualizar" }} Categoría</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
        </button>
      </div>

      <div class="modal-body">

        <!-- form  -->
        <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">

          <!-- code  -->
          <div class="form-group">
            <label for="code" class="form-label mt-4">Código <span class="text-danger">*</span> </label>
            <select class="form-select form-edit" formControlName="code" [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
              <option value="" disabled selected>Seleccione una opción</option>
              <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
            </select>
            <div *ngIf="form.controls['code'].errors && submitted">
              <small class="text-danger">Por favor, seleccione una opción.</small>
            </div>
          </div>

          <br>

          <!-- category  -->
          <div class="form-group">
            <label for="category">Nombre <span class="text-danger">*</span> </label>
            <input type="text" class="form-control form-edit" formControlName="category" id="category" placeholder="Nombre de la categoría..." 
              [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}" >
            <div *ngIf="form.controls['category'].errors && submitted">
              <small class="text-danger">Por favor, ingrese un nombre válido.</small>
            </div>
          </div>

          <br>

          <!-- button  -->
          <div class="form-button">
            <button type="submit" class="btn btn-form">Guardar</button>
          </div>

        </form>

      </div>
      
    </div>
  </div>
</div>