
<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" >Nueva Película</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="resetForm()"><span aria-hidden="true"></span>
        </button>
      </div>

      <div class="modal-body">

        <!-- form  -->
        <form [formGroup]="form" (ngSubmit)="ngOnSubmit()">

          <!-- code  -->
          <div class="form-group">
            <label for="code" class="form-label mt-4">Género <span class="text-danger">*</span> </label>
            <select class="form-select" formControlName="code" [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}">
              <option value="" disabled selected>Seleccione una opción</option>
              <option>Acción</option>
              <option>Animación</option>
              <option>Aventura</option>
              <option>Comedia</option>
              <option>Drama</option>
              <option>Musical</option>
              <option>Romance</option>
              <option>Sci-Fi</option>
              <option>Terror</option>
              <option>Thriller</option>
            </select>
            <div *ngIf="form.controls['code'].errors && submitted">
              <small class="text-danger">Por favor, seleccione una opción.</small>
            </div>
          </div>

          <br>

          <!-- category  -->
          <div class="form-group">
            <label for="category">Nombre <span class="text-danger">*</span> </label>
            <input type="text" class="form-control" formControlName="category" id="category" placeholder="Ingrese el nombre de la película" 
              [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}" >
            <div *ngIf="form.controls['category'].errors && submitted">
              <small class="text-danger">Por favor, ingrese un nombre válido.</small>
            </div>
          </div>

          <br>

          <!-- button  -->
          <div class="form-button">
            <button type="submit" class="btn btn-secondary btn-form">Guardar</button>
          </div>

        </form>

      </div>
      
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

    <div class="navbar-content container-fluid">
    <a class="navbar-brand" href="#">Clonbuster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        </ul>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

<div class="body-content">

    <div class="card border-primary mb-3">

        <!-- Table title  -->
        <div class="card-header border-primary mb-3">
            <h1>Catálogo </h1>
        </div>
        
        <!-- Table content -->
        
        <div class="card-body">
            <table class="table">
            <thead>
                <tr class="table-primary">
                <th>No.</th>
                <th>Género</th>
                <th>Nombre</th>
                <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index" >
                <td>{{ i + 1 }}</td>
                <td>{{ category.code }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.status == 0 ? "En renta": "Rentada" }}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <!-- Agrega el botón de agregar película -->
  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Película
  </button>

</div>