<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">

    <div class="navbar-content container-fluid">
    <a class="navbar-brand" href="#">Clonbuster</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#">Inicio
            <span class="visually-hidden">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mi Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mis Rentas</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categorías</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>
        </ul>
        <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>

<div class="body-content">

    <div class="card border-primary mb-3">

        <!-- Table title  -->
        <div class="card-header border-primary mb-3">
            <h1>Mis Rentas</h1>
        </div>
        
        <!-- Table content -->
        
        <div class="card-body">
            <table class="table">
            <thead>
                <tr class="table-primary">
                <th>No.</th>
                <th>Género</th>
                <th>Nombre</th>
                <th>Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index" >
                <td>{{ i + 1 }}</td>
                <td>{{ category.code }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.status == 0 ? "Rentada": "Devuelta" }}</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>

</div>