.body-content{
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
}

.btn-add{
    background-color: #43a02c;
}

.btn-add:hover{
    background-color: #378025;
}

.btn-dropdown{
    background-color: #343A40;
}

.btn-form{
    background-color: #43a02c;
}

.btn-form:hover{
    background-color: #378025;
}

.d-flex .btn{
    fill: none;
    border: none;
    background-color: transparent;
}

.card-header{
    background-color: #43a02c;
}

.card-header .h1-text{
    color: white;
}

.dropdown{
    border: none;
}

.dropdown-item{
    color: white !important;
    cursor: pointer;
}
  
.dropdown-item:hover{
    color: white !important;
    background-color: #43a02c;
  }

.edit-item{
    color:#091F92 !important;
}

.enable-item{
    color:#43a02c !important;
    cursor: pointer;
}

.disable-item{
    color:#E60026 !important;
    cursor: pointer;
}

.form-button{
    text-align: center;
}

.form-edit{
    border-color: black;
}

.h1-text{
    text-align: center;
}

.icon-text-button{
    font-size: 14px;
    margin-right: 4px;
  }
  
.icon-text-ul{
    font-size: 14px;
    margin-right: 8px;
}

.icon-menu{
    font-size: 18px;
    cursor: pointer;
}

.icon-menu:hover{
    color: white;
}

.navbar-content{
    max-width: 1280px;
    margin: auto;
}

.navbar-expand-lg{
    background-color: #43a02c;
}

.table{
    text-align: center;
}

.td-status-enable{
    color: #43a02c;
}

.td-status-disable{
    color:#E60026;
}

.search-menu{
    font-size: 25px;
}


