<p class="h1-text" style="font-size: 55px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Mi Carrito</p>

<!-- Eliminar Carrito -->
<button type="button" class="btn btn-add">
    <i class="ph ph-list-plus icon-text-button"></i>
      Eliminar Carrito
</button>

<br><br>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="table-dark">
          <th>No.</th>
          <th>GTIN</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Estatus</th>
          <th>Más</th>
        </tr>
      </thead>
    </table>
  </div>
</div>