
<div *ngIf="cart.length === 0">
  <div class="row justify-content-center align-items-center">
    <div class="text-empty-cart text-center">Aún no tienes productos en tu carrito</div>
    <div class="card cart-image">
        <img src="assets/imagenes/emptyCart.png" alt="Craig" >
    </div>
  </div>
</div>


<div *ngIf="cart.length !== 0">

  <div class="row">
    <!-- Eliminar Carrito -->
    <button type="button" class="btn btn-delete-cart col-md-2" (click)="deleteCart(rfc)">
      <i class="ph ph-trash icon-text-button"></i>
        Vaciar Carrito
    </button>

    <div class="col-md"></div>

    <button type="button" class="btn btn-buy-cart col-md-2" (click)="redirect(rfc)">
      <i class="ph ph-credit-card icon-text-button"></i>
        Comprar Carrito
    </button>

  </div>

  <br><br>

  <h1>Mi Carrito</h1>
  
  <div class="card">

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr class="table-dark">
              <th colspan="2">Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-body">
            <ng-container *ngFor="let product of cart">
              <tr>
              <td><img class="product-image" [src]="'assets/imagenes/' + product.image || 'assets/imagenes/productImageNull.jpg'" alt="imagen de producto"></td>
              <td class="vertical-center">{{product.product.product}}</td>
              <td class="vertical-center">{{product.product.price | currency: 'USD'}}</td>
              <td class="vertical-center">{{product.quantity}}</td>
              <td class="vertical-center">{{product.product.price * product.quantity | currency: 'USD'}}</td>
              <td class="vertical-center"><button class="btn btn-delete-product" (click)="deleteProduct(product.cart_id)"><i class="ph ph-trash"></i></button></td>
              </tr>   
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
