.btn.btn-buy-cart{
    width: auto;
}

.btn.btn-delete-cart{
    width: auto;
    background-color: brown;
}

.btn.btn-delete-product{
    background-color: brown;
}

.card.cart-image{
    border: none;
    width: 450px;
}

.product-image{
    max-width: 70px;
    max-height: 70px; 
    width: auto;
    height: auto;
}

.vertical-center{
    vertical-align: middle;
}

.text-empty-cart{
    color: #3a9c21;
    font-size: 50px;
    font-style: oblique;
    font-weight: bold;
}